{% load static %}

<!DOCTYPE html>
<html>
<title>FARM IN ARMS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/sty.css' %}">
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block" style="width:20%; margin-top: 0.5cm;">
  
  <img src="{% static 'images/logo.png' %}" alt="">
  <h3 class="w3-bar-item w3-teal">Management</h3>
  <a href="#lpep" class="w3-bar-item w3-button">Land preparation</a>
  <a href="#wmg" class="w3-bar-item w3-button">  Water Management</a>
  <a href="#pmg" class="w3-bar-item w3-button">Weed Management</a>
</div>

<!-- Page Content -->
<div style="margin-left:20%">

  <div class="w3-container w3-white nbar">
  <h3>
  
  	<a href="/pages/">Home</a>
  	<a href="/pages/about/">About</a>
  	<a href="/pages/schemes/">Programmes&Schemes</a>
    <a href="/pages/#services">Services</a>

    <p id='tex'>Translate to:</p>
		<div id="gtranslate"></div>
		
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'gtranslate');
}
</script>

<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


  </h3>
  </div>

  <div class="w3-container bod">
      <h2 class="nam">Bengal Gram</h2>


      <img src="{% static 'images/bgram.jpg' %}">

      <div id="lpep">
      <h3>Land Preperation</h3>
      <p>Equipment Options And Use</p>
        <ul>
      Primary tillage options – Ploughs (Mould board, Disc, Tine, Offset)<br>
      Secondary tillage options – Disc Harrow, Offset Disc, Rotavator, Puddler,Landplane.
        </ul>
      <ul>
        Irrespective of the way it is raised gram is always grown as a cold weather (rabi) crop
         mixed with Sorghum, wheat, barley, linseed, mustard or pea.<br>
        It is also grown as a seed crop.<br>
        Gram does not need a very fine seedbed.<br>
        A deep ploughing preferably with a single mould-board plough and a second ploughing with a desi
         plough followed by a harrowing, if possible, and removal of all weeds from the field before
          sowing serves the purpose of ordinary cultivation of this crop.<br>
        No fine tilth is attempted, nor is the soil compacted, but is left loose on the surface.<br>
        It is grown as a sole crop in deep black soils or as a dry season crop after the harvest of paddy in rice fields.<br>
        Occasionally, gram succeeds maize in some States and is also grown mixed with sorghum or wheat.<br>
        As an irrigated crop, it is manured and watered.<br>
        Being a leguminous crop, gram utilizes atmospheric nitrogen through its root nodules. 
        Hence, the crop is not generally manured with nitrogenous manures or fertilizers.
        
      </ul>
      </div>

      <div id="wmg">
        <h3>Water Management</h3>
        <p>Principles</p>
        <ul>
            <li>
                Another major area where pulse production can be improved is under irrigated conditions.<br>
             Because of availability of short duration varieties of pulses including redgram majority of 
             pulses can be fitted into annual rotations.
            </li>
            <li>
                The potential evapotranspiration of Chickpea crop ranged from 200-280 mm, depending on the crop season.
            </li>
             <li>
                Although, most of the chickpea crop in India is grown on moisture conserved in the soil from
                the rain received prior to planting, the crop responds favourably to supplemental irrigation.
             </li>
            <li>
                Irrigation during the pre-flowering period (at the early stage of vegetative growth on soils 
            having low water holding capacity and at late vegatative phase on heavier and deeper soils)
             and at early pod filling stage results in increasing yields.
            </li>
            <li>
                Irrigation improves the nodulation and increase the yield by increased pod number/plant.
            </li>
        </ul>
        <p>Soil Moisture</p>
        <ul>
            <li>
                Being a rabi crop, gram is raised on the moisture conserved in the soil during the monsoon and
             is, therefore, subjected to deficiency thereoff in unfavourable seasons.
            </li>
            <li>
                Likewise, not too infrequently, excess moisture may be equally harmful as the crop may be
                 affected not only by lack of aeration but also by poor nodulation and low rhizobial activity.
            </li>
            <li>
                mproved cultural practices, like bunding, land levelling, adoption of proper dry farming
                 practices, stirring the soil to improve infiltration, etc., are therefore necessary.
            </li>
            <li>
                Bunding and stirring the soil with the desi plough in the rainy months increases the yield of gram.
                Stirring with a spring-tine harrow was as effective as that with the desi plough.   
            </li>

        </ul>
        <p>Irrigation</p>
        The crop is irrigated once or twice only when the soil gets much dried up in November or December.
         Further irrigation may not be needed. While irrigating necessary care should be exercised that 
         there should not be waste stagnation.

      </div>

      <div id="pmg">
          <h3>Weed Management</h3>
          <ul>
            <li>Crop yield losses due to weeds in Chickpea have been estimated to range from 30 to 50 per cent.</li>
            <li>
            Pre emergence application of 1.5 kg a.i/ha of nitrogen or 0.5 kg a.i/ha of prometryne were effective.</li>
            <li>Pre-plant incorporation of 1 kg a.i/ha of Basalin showed good weed control.</li>
            <li>Pre emergence application of 1 kg product of either Terbutryne (80% WP) also highly promissing.</li>
           <li> No single herbicide is effective for all conditions and the choice of herbicide as well
            as its rate of application will very depending on the nature of weed infestation and the soil type.</li>
           <li> Generally no weeding or interculture is done to this crop in clean lands.
            However, weeding three to four weeks after sowing does help in reaping good yields.</li>
            <li>One more weeding be done three to four weeks later, if necessary.</li>
           <li>Nipping of top shoots appears to be a common practice with the cultivator, the nipped shoots serving as leafy vegetable.
            This practice does not, however, increase gram yield.</li>
          </ul>
      </div>


  </div>

</div>
</body>
</html>
