{% load static %}

<!DOCTYPE html>
<html>
<title>FARM IN ARMS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/sty.css' %}">
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block" style="width:20%; margin-top: 0.5cm;">
  
  <img src="{% static 'images/logo.png' %}" alt="">
  <h3 class="w3-bar-item w3-teal">Management</h3>
  <a href="#lpep" class="w3-bar-item w3-button">Land preparation</a>
  <a href="#wmg" class="w3-bar-item w3-button">  Water Management</a>
  <a href="#pmg" class="w3-bar-item w3-button">Weed Management</a>
</div>

<!-- Page Content -->
<div style="margin-left:20%">

  <div class="w3-container w3-white nbar">
  <h3>
  
  	<a href="/pages/">Home</a>
  	<a href="/pages/about/">About</a>
  	<a href="/pages/schemes/">Programmes&Schemes</a>
    <a href="/pages/#services">Services</a>

    
    <p id='tex'>Translate to:</p>
		<div id="gtranslate"></div>
		
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'gtranslate');
}
</script>

<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>



  </h3>
  </div>

  <div class="w3-container bod">
      <h2 class="nam">Chilli</h2>
      <iframe width="620" height="355" src="https://www.youtube.com/embed/x_Wbl4Hf7ew?autoplay=1&mute=1"></iframe><br>

      <div id="lpep">
      <h3>Land Preperation</h3>
      <p>Equipment Options And Use</p>
        <ul>
Country plough<br>
Gorru without seed hopper<br>
Guntaka (Blade harrow)<br>
Cultivator (Tractor drawn)<br>
Mould board plough (Tractor drawn)<br>
Ridge plough (If the crop planted on ridges)<br>

        </ul>
      <p>Objectives</p>
        <ul>
          <li>To obtain required tilth of 10-15 cm. depth.</li>
          <li>To open soil for drying</li>
         <li> To uproot stubbles and weeds</li>
          <li>To burry trash under soil</li>
         <li> To kill weeds</li>
        </ul>
      <p>KeyPoints</p>
        <ul>
          Proper land preparations at correct season and time with the appropriate time of sowing will help to obtain higher yields.<br>
During first ploughing moisture retention capacity of the soil gets increased and land becomes favourable for cultivation.<br>
 When the land is ploughed there should be enough moisture in the soil. <br>
So that with less number of ploughings itself land attains good physical condition.<br>
Number and depth of ploughings depends on weed growth intensity in that area, seed rate, nature of crop root growth etc.<br>
For economical land preparation the number of ploughings should be reduced. For some crops the requirement itself is less.<br>
Summer ploughing is having its own advantages so that summer showers should be better utilised for land preparation.<br>
After taking up first ploughing wait for 5 - 10 days then take up further ploughings because the excess moisture in the ploughed<br>
 clods will get evaporated and the soil clods will be in good condition for ploughing which reduces the number of ploughings<br>
 and saves money in land preparation.<br>
	<p>Land Levelling</p>
	<li>After getting suitable and required tilth of soil land should be perfectly levelled by using bullock-drawn or tractor-drawn levellers.</li>
<li>Levelling helps in irrigating the fields with high water use efficiency.</li>
<li>Also helps in draining excess water without stagnation in heavy rainy days or immediately after giving irrigation.</li>

      </div>

      <div id="wmg">
        <h3>Water Management</h3>
        <p>Principles</p>
        <ul>
          Excess/limited/no water leads reduction in yield.<br>
Chilli crop is very sensitive to excess water but to some extent it can tolerate drought.<br>
Majority of crops will give more than double the yield under irrigation over rainfed crop.<br>
Adoption of proper water management practices leads not only saving valuable water but also yield more per unit quantity or water supplied (WUE).<br>
Heavy soils or in heavy rainfall areas proper drainage should be provided to withdraw excess water.<br>
While irrigating chilli crop in heavy soil care should be exercised that they should not be water stagnation even for few hours<br>
	<p>Water requirement - Stage wise</p><br>

Nursery ( 45 days) : 200 mm<br>
Transplanting to flowering : 200 mm<br>
Flowering to first pickup : 250 mm<br>
Fruit development and maturing: 250 mm (Dry chilli)<br>
400 mm (green chilli)<br>
Total Water requirement : 900 mm (Dry chilli)<br>
1050 mm (green chilli)<br>
<p>Critical stages of water requirement</p>

<li>Flowering and fruit development in chilli are the most critical stages of water.</li>

<li>Excess irrigation at these stages causes;</li>

<li>Reduction in flowering and yield.</li>
<li>Incidence of fungal diseases.</li>
<li>Reduction in capture of nutrients</li>

<p>Less irrigation than required causes</p>

<li>Flower and fruit drop</li>
<li>Less branching.</li>
<li>After prolonged drought if irrigation is provided at flowering and fruiting stage, lot of flower and fruit drop will be seen.</li>

        </ul>
      </div>

      <div id="pmg">
          <h3>Weed Management</h3>
          <p>Common weeds in chilli</p>
          <ul>
            <li>Grasses,</li>
			<li>Sedges, and,<li>
			<li>Broad leaved weeds.</li>
          </ul>
          <p>Control Measures</p>
          <ul>
            <p>Cultural Methods</p>

<li>Timely sowing of chilli gives vigorous crop growth quick canopy coverage - suppress weeds.</li>
<li>Band or pocket application of N-fertilizer to chilli reduces the nutrient availability for weed growth.</li>
<li>Sowing certified seed.</li>
<li>Adopt furrow method of irrigation.</li>
<li>Raising chilli in paired rows and utilising the interspace effectively by cultivating intercrops like<br>
 onion, greengram, bhendi etc., is found useful not only to reduce the incidence of weeds but also to obtain additional income per unit area.</li>
<li>Proper crop rotation is highly useful for control of perennial weeds.</li>
<li>Mulching not only reduce weeds but also evaporation from soil.</li>

<p>Mechanical Control</p>

<li>Deep ploughings, digging and removal of rhizomes or, stolong os perennial weeds before sowing.</li>
<li>Periodical harrowings reduce weeds and evaporation losses of moisture.</li>
<li>For direct seeded crop and transplanted crop at 25-30 days after sowing and after transplanting respectively <br>
one intercultivation with blade harrow followed by line weeding within the rows is necessary.<br>
 Subsequent intercultures at 10-12 days intervals till full coverage of land by crop should be given.</li>
<li>If the crop is sown on ridges as irrigated crop the interculture invariably followed by 3-4 days after each irrigation<br>
 preferably with a planet junior hoe.</li>
<li>While inter cultivating the crop deep cultivation should be avoided to avoid damage to roots and also loss of moisture from deeper layers.</li>

<p>Chemical Control</p>

<li>Preplanting
<li>Soil incorporation of Fluchloralin (Basalin) at 2.0 ltr/ha as pre-sowing application upto 5cm deep<br>
is very useful to control mostly annual grasses and some broad leaved weed.</li>
<li>Pre sowing application of Nitraline, Trifluralin, and Dinitramine at 1.0 kg/ha each.</li>
<li>Alachlor 5.0 kg/ha is very effective</li>
<li>For controlling Cynodon, TCA at 5kg/ha as preplanting treatment is best.</li>

Pre-emergence

<li>Trifluralin 0.75 kg/ha and Nitralin 3kg/ha can control most grasses and sorghum halopense.</li>

Post Emergence

<li>Post planting herbicide : Basalin</li>
<li>Dose 2-2.5 litres/ha or 0.8 to 1.0 litre/acre</li>
<li>Time of spraying : One week after planting</li>
<li>Method of spraying : Spray should be directed in between the crop rows. Spray on weed free land in between crop rows.<br>
 Immediately after spraying run a blade harrow for thorough mixing with the soil.</li>

          </ul>
      </div>


  </div>

</div>
</body>
</html>