{% load static %}

<!DOCTYPE html>
<html>
<title>FARM IN ARMS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/sty.css' %}">
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block" style="width:20%; margin-top: 0.5cm;">
  
  <img src="{% static 'images/logo.png' %}" alt="">
  <h3 class="w3-bar-item w3-teal">Management</h3>
  <a href="#lpep" class="w3-bar-item w3-button">Land preparation</a>
  <a href="#wmg" class="w3-bar-item w3-button">  Water Management</a>
  <a href="#pmg" class="w3-bar-item w3-button">Weed Management</a>
</div>

<!-- Page Content -->
<div style="margin-left:20%">

  <div class="w3-container w3-white nbar">
  <h3>
  
  	<a href="/pages/">Home</a>
  	<a href="/pages/about/">About</a>
  	<a href="/pages/schemes/">Programmes&Schemes</a>
    <a href="/pages/#services">Services</a>

    <p id='tex'>Translate to:</p>
		<div id="gtranslate"></div>
		
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'gtranslate');
}
</script>

<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>



  </h3>
  </div>

  <div class="w3-container bod">
      <h2 class="nam">Cotton</h2>
      <iframe width="620" height="355" src="https://www.youtube.com/embed/TbYNf9vY5YU"></iframe><br>

      <div id="lpep">
      <h3>Land Preperation</h3>
      <p>Equipment Options And Use</p>
        <ul>
		The tillage implements used for growing the cotton crop vary with the:<br>
		nature of the soil,<br>
		the method of growing the crop and<br>
		the different operations of cultivation.<br>
		The implements in common use is:<br>
		Desi plough,<br>
		the bakhar or blade harrow,<br>
		a beam leveller or cold crusher,<br>
		single or multi-coultered wooden seed drills,<br>
		Kolpa or blade cultivator and
		a Khurpi or hand hoe<br>
		pegged or spike toothed harrows<br>
		three tines hoes(triphallies)<br>
        </ul>
      <p>Objectives</p>
        <ul>
          <li>Repeated ploughing is necessary to obtain a good tilth.
			Every effort may be made to secure a pulverised surface.</li>
          <li>Running of blade harrow two or three times across the field produce a fairly good tilth.</li>
         <li> After getting required tilth, the land is laid out into ridges and furrows with the help of a ridge plough or a bund former.</li>
          <li>If the slope is < 1 % the ridge length may be 30 - 40 meters.</li>
         <li> For irrigated cotton, the land is usually given a preparatory flooding and ploughed two or three times to secure a good tilth.</li>
        </ul>
      <p>Land Levelling</p>
        <ul>
          <p>Beam Leveller or Clod Crusher</p>

<li>Implement consists of a heavy beam of wood and six to seven feet in length, is used for breaking the clods.</li>
<li>This beam of wood has two chains in front, which are fixed to a yoke, and it is drawn by a pair of bullocks.</li>
<li>While working the implement, the operator stands on the log to weight it down.<br>
 This implement is also used for levelling and compacting the soil before sowing.</li>

        </ul>
      </div>

      <div id="wmg">
        <h3>Water Management</h3>
        <p>Principles</p>
        <ul>
          A satisfactory yield of fibre depends on maintenance of a proper balance between leaf production and boll (fruit) production.<br>

A planned moisture regime that will restrain vegetative growth without adversely affecting yield is essential.<br>
Desirable that the plant completes most of its vegetative growth before the flowers appear and this is the best achieved by<br>
 moisture regime that promotes regular and rapid but not excessive development of the young plant.<br>
During early part of the season, less water is used by the plant and more water is lost by evaporation than transpiration.<br>
The use of water increases from about 3 mm reaching a peak of 10 mm a day when flowering is at its height.<br>
The peak is reached when the plant is loaded with bolls and water consumption then begins to decline.<br>
Cotton seeds will not germinate until they absorb half their weight of water which is considerable.<br>
The soil should be wetted to a depth of 120 cm prior to planting.<br>
Pre-planting irrigation ensures good germination and rapid plant development.<br>
Yields are in proportion to the wetted depth of soil at planting in several cases.<br>
		<p>Methods of Irrigations</p>
		<li>Furrow method of irrigation is the best and most commonly adopted (20-30% saving in water).</li>
<li>No significant reduction in yield by irrigating alternate furrow. Paired planting irrigate in the same furrow.</li>
<li>For every two planted rows leave one fallow furrow.</li>
<li>Mulching the inter spaces reduces 3 irrigation's.</li>
<li>Drip irrigation - 60% water saving - Weed management is less - Initial cost high.</li>
<p>Critical Stages of Water Requirement</p>

<li>The stages of flowering and boll formation are critical in their demand for assured water supply.</li>
<li>Exact duration of these stages will depend on varieties and the climate conditions of the place.</li>
<li>Lack of adequate moisture at these stages resulted in premature flower drop, boll shedding, <br>
poor development of bolls, low ginning percentage and ultimately low yield of cotton.</li>
<li>Delay in the first irrigation resulted in good growth and yield of cotton.<br>
<li> The germination and seedling stages were found to be very susceptible to excess water.</li>
<li>Planting on ridges or raised beds reduced the damage due to excess water.</li>
Total water requirement is 900-1200 mm.<br>
Upto flowering (20% of total water requirement)<br>
Flowering (40% of total water requirement)<br>
Flowering - Boll bursting (30% of total water requirement)<br>
Boll bursting - maturity (10% of total water requirement)<br>
<p>Scheduling of Irrigation</p>

<li>Careful observation shows a change in the appearance of the cotton plant before signs of wilting occur. <br>
The foliage has a slightly bluish tinge and in drier spots of the field the plant will appear somewhat darker.<br>
These drier parts in the field should be watched closely, for they are the first to change in colour and <br>
serve as a guide for scheduling irrigation. Water has to be applied when leaves wilt on the upper third of the plant.</li>
<li>Irrigation to cotton may be scheduled by soil moisture depletion approach as well as climatological approach.</li>
<li>The optimum irrigation schedule is at 50% depletion of available soil moisture.</li>
<li>Under water shortage conditions, irrigation can be scheduled even at 75% depletion of available soil moisture.</li>
<li>Irrigation based on climatological approach varied with regions and it is 0.6 to 0.9 IW/CPE ratio.</li>
<li>6- 8 irrigation's in clay or clay loam soils.</li>
<li>13-14 irrigation's for red sandy soils.</li>

        </ul>
      </div>

      <div id="pmg">
          <h3>Weed Management</h3>
          <p>Why the weed menace is more in cotton?</p>
          <ul>
            <li>Cotton grown under both rainfed and irrigated conditions, conducive for heavy weed infestation.</li>
            <li>Higher level of fertilization (HYV/Hybrids)</li>
            <li>Wider spacing</li>
            <li>Slow growth in early stages (weed takes about 8 weeks to reach maximum cover due to its quick growth, <br>
			while cotton takes at least 16 weeks to cover 90% space.</li>
          </ul>
          <p>Control Measures</p>
          <ul>
           <p>Cultural Methods</p>

<li>Timely sowing of cotton gives vigorous crop growth quick canopy coverage - suppress weeds.</li>
<li>Band or pocket application of N-fertilizer to cotton reduces the nutrient availability for weed growth.</li>
<li>Sowing certified seed.</li>
<li>Adopt furrow method of irrigation.</li>
<li>Raising cotton in paired rows and utilising the interspace effectively by cultivating intercrops like onion, greengram, bhendi etc., <br>
is found useful not only to reduce the incidence of weeds but also to obtain additional income per unit area.</li>
<li>Proper crop rotation is highly useful for control of perennial weeds</li>
<li>Mulching not only reduces weeds but also evaporation from soil.</li>
          </ul>
          <p>Mechanical Control</p>
          <ul>
            <li>Deep ploughings, digging and removal of rhizomes or stolons or perennial weeds before sowing.</li>
            <li>Periodical harrowings reduces weeds and evaporation losses of moisture.</li>
          </ul>
          <p>Chemical Control</p>
          <ul>
            <li>Soil incorporation of Fluchloralin (Basalin) at 2.0 ltr/ha as pre-sowing application upto 5cm deep<br>
			is very useful to control mostly annual grasses and some broad leaved weed.</li>
            <li>Pre sowing application of Nitraline, Trifluralin, and Dinitramine at 1.0 kg/ha each. Alachlor 5.0 kg/ha or<br>
			Diuron 1.5 kg/ha is very effective.</li>
            <li>Nitrofen 1.5 kg/ha as pre-emergence followed by MSMA at 5 lt/ha post-emergence can give good weed control. <br>
			Monuron at 1.5 kg/ha may be used on excessively heavy soil.
            </li>

          </ul>
      </div>


  </div>

</div>
</body>
</html>