{% load static %}

<!DOCTYPE html>
<html>
<title>FARM IN ARMS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/sty.css' %}">
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block" style="width:20%; margin-top: 0.5cm;">
  
  <img src="{% static 'images/logo.png' %}" alt="">
  <h3 class="w3-bar-item w3-teal">Management</h3>
  <a href="#var" class="w3-bar-item w3-button">Varities</a>
  <a href="#wmg" class="w3-bar-item w3-button">  Water Management</a>
  <a href="#pmg" class="w3-bar-item w3-button">Pest Management</a>
</div>

<!-- Page Content -->
<div style="margin-left:20%">

  <div class="w3-container w3-white nbar">
  <h3>
  
  	<a href="/pages/">Home</a>
  	<a href="/pages/about/">About</a>
  	<a href="/pages/schemes/">Programmes&Schemes</a>
    <a href="/pages/#services">Services</a>

    <p id='tex'>Translate to:</p>
		<div id="gtranslate"></div>
		
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'gtranslate');
}
</script>

<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

  </h3>
  </div>

  <div class="w3-container bod">
      <h2 class="nam">Ground Nut</h2>


      <iframe width="620" height="355" src="https://www.youtube.com/embed/hs24iV8DA1U?start=262"></iframe><br>
      <div id="var">
        <h3>Varities</h3>
        <ul>
          <li>
            The cultivated groundnut (Archis hypogaea Linn.) has three distinct botanical groups viz.,
           pish (Sub sp. Fastigiata var. vulgaris), Valencia (Sub sp.fastigiata var. fastigiata) and
            Virginia (sub. Sp. hypogaea var. hypogaea).
          </li>
          <li>The pish and valencia types popularly called as "Bunch" grow erect, possess light green foliage and
            produce pods in clusted at the base of the plant.</li>
            <li>The seeds are non-dormant and roundish with light rose testa (deep rose or purple testa in valencia).
              The virginia group which includes both virginia bunch (Semi-spreading) and virginia runner (spreading) types
               , on the other hand, possesses dark green foliage and the branches trail on the soil surface either partially or completely.</li>
          <li>The main stem is devoid of fruit and pods are scattered all along the branches.
            The seeds are dormant, oblong in shape with brownish testa.</li>
          <li>In general, the spreading and semi-spreading varieties mature late as compared with the bunch varieties.</li>
         <li> Groundnut is cultivated commercially in both Kharif as well as Rabi/summer seasons.
          In kharif (rainy) season the crop is grown under rainfed conditions between May to December by planting
           varieties belonging to different habit groups.</li>
        <li>In contrast, during Rabi/Summer (post rainy) season the varieties belonging to pish bunch and valencia are
          preferred for their shorter duration and are grown under irrigated conditions.</li>
  
        </ul>
        </div>

        <div id="wmg">
            <h3>Water Management</h3>
            <p>Principles</p>
            <ul>
              Excess / limited / no water leads to reduction in yield.<br>
              Every crop plant tries to survive under extreme drought conditions but never survives for atleast 1 
              – 2 days under excess moisture situations.<br>
              Rice a semi – aquatic plant requires near submergence<br>
              Submergence helps in - suppressing weed growth more availability of certain nutrients<br>
              Daily consumptive use of rice is 6 – 10mm<br>
              Total water requirement of rice is 1240mm<br>
              5000 litres of water required to produced 1kg of rice<br>
              Rice accounted for 33% of gross irrigated area<br>
              Rice consuming 66% of total available irrigation water.
    
            </ul>
          </div>
    
          <div id="pmg">
              <h3>Pest Management</h3>
              <p>Losses caused due to pests </p>
              <ul>
                <li>Rice is essentially a crop of warm, humid environments conducive to the survival
                 and Proliferation of insects.</li>
                <li>More than 70 species were recorded as pests  and about 20 have major significance.</li>
                <li>Together, they infest all parts of the plant at all growth stages .</li>
                <li> The insects act as vectors of virus diseases, and are a major factor responsible for low rice yields particularly
                 in Tropical Asia, the worlds rice bowl.</li>
                 <li>The insect problem is accentuated in multi cropping Or dormancy but occurs throughout the year in over lapping generations.</li>
                <li>The yield losses vary from 20 to 50 per cent due to the damage caused by various insect Pests.</li>
              </ul>
              <p>Control Measures</p>
              <ul>
               <li> Control measures are mainly Cultural, Mechanical, Biological & Chemical</li>
                <li>Among the different methods the farmer is inclined more for chemical method of control
                   as this method gives quick results .</li>
                <li>No single method is adequate to suppress pest population.</li>
                <li>Integrated pest management depending on the need, availability and feasibility of implementation should be adopted.</li>
              </ul>
              <p>Advantages of Chemical Control</p>
              <ul>
                <li>Insecticides or fungicides can be maintained and stored in advance so that they may be applied very
                   soon after an out break occur or is expected to occur.</li>
                <li>It usually involves less labour than mechanical methods.</li>
                <li>Infestation over large areas can be treated and in less time than by other methods.</li>
                <li>It is comparatively cheap and within the reach of many farmers.</li>
              </ul>
              <p>Disadvantages of Chemical Control</p>
              <ul>
                <li>The insecticides are more indiscriminate in killing insects.
                  Thus, not only harmful insects are killed, but some of the beneficial insects as well.</li>
                <li>This leads to ecological imbalance leading to secondary infestation of certain pests.</li>
                <li>The most Practical alternative is the integrated approach which Compromises, survey and
                   surveillance to monitor the pests, exploitation of host resistance, Cultural
                    practices such as judicious use of fertilizers, crop rotation, sanitation, and correct time
                     of planting, biological control, using parasites and predators etc., and use of pesticides on Need basis.
                </li>
    
              </ul>
    </div>