{% load static %}

<!doctype html>

<html>
<head> 
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>FARM IN ARMS</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/new.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/mobile.css' %}" media="screen and (max-width : 568px)">
	

</head>
<body>
	<div id="header"> 
		<a href="/pages/" class="logo">
			<img src="{% static 'images/logo.png' %}" alt="">
		</a>
		<p id='tex'>Translate to:</p>
		<div id="gtranslate"></div>
		
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'gtranslate');
}
</script>

<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

		<ul id="navigation">
			<li class="selected">
				<a href="/pages/">home</a>
			</li>
			<li>
				<a href="/pages/about/">about</a>
			</li>
			<li>
				<a href="/pages/schemes/">Programmes & Schemes</a>
			</li>
			<li>
				<a href="#services">Services</a>
			</li>
			{% if user.is_authenticated %}
			<div class="dropdown">
				<button class="dropbtn">Hello, {{user.first_name}}</button>
				<div class="dropdown-content" style="right:0;">
				  
				  <a href="/accounts/logout/">Log out</a>
				</div>
			  </div>
			{% else %}
			<li>
				<a href="/accounts/login/">Sign In/Register</a>
			</li>
			{% endif %}
		</ul>
	</div> 
	<div id="body"> 
		<div id="featured">
			<img src="{% static 'images/pic1.jpg' %}" alt="">
			<div>
				<h2>the beacon to all mankind</h2>
				<span>We focus on assisting farmers for producing </span>
				<span> quality and originality in agriculture.	</span>
				<a href="/pages/about/" class="more">read more</a>
			</div>
		</div> 
		
		<ul id="services"> 
			<li>
				{% if user.is_authenticated %}
					<a href="/weather/det/">
						<img src="{% static 'images/pic3.jpg' %}" alt="">
					<span>Crop Suggestion</span>
					</a>
				{% else %}
					<a href="/accounts/login/">
						<img src="{% static 'images/pic3.jpg' %}" alt="">
					<span>Crop Suggestion</span>
					</a>
				{% endif %}
			</li>
			
			<li>
				{% if user.is_authenticated %}
				<a href="/weather/mgmt/">
					<img src="{% static 'images/pic4.jpg' %}" alt="">
					<span>Crop management</span>
				</a>
				{% else %}
				<a href="/accounts/login/">
						<img src="{% static 'images/pic4.jpg' %}" alt="">
						<span>Crop management</span>
					</a>
				{% endif %}
			</li>
		
			<li>
				{% if user.is_authenticated %}
				<a href="/weather/dispwea/">
					<img src="{% static 'images/wicon.png' %}" alt="">
					<span>Weather</span>
				</a>
				{% else %}
				<a href="/accounts/login/">
					<img src="{% static 'images/wicon.png' %}" alt="">
					<span>Weather</span>
				</a>
				{% endif %}
			</li>
		</ul>
		
	</div>
	<div id="footer">
		<div>
			<p style="color: black;">&copy; 2021 by FarminArms. All rights reserved.</p>
			<ul>
				<li>
					<a href="http://twitter.com/" id="twitter">twitter</a>
				</li>
				<li>
					<a href="http://facebook.com/" id="facebook">facebook</a>
				</li>
				<li>
					<a href="http://pinterest.com/" id="pinterest">pinterest</a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>
