{% load static %}

<!DOCTYPE html>
<html>
<title>FARM IN ARMS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/sty.css' %}">
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block" style="width:20%; margin-top: 0.5cm;">
  
  <img src="{% static 'images/logo.png' %}" alt="">
  <h3 class="w3-bar-item w3-teal">Management</h3>
  <a href="#lpep" class="w3-bar-item w3-button">Land preparation</a>
  <a href="#wmg" class="w3-bar-item w3-button">  Water Management</a>
  <a href="#pmg" class="w3-bar-item w3-button">Weed Management</a>
</div>

<!-- Page Content -->
<div style="margin-left:20%">

  <div class="w3-container w3-white nbar">
  <h3>
  
  	<a href="/pages/">Home</a>
  	<a href="/pages/about/">About</a>
  	<a href="/pages/schemes/">Programmes&Schemes</a>
    <a href="/pages/#services">Services</a>

	<p id='tex'>Translate to:</p>
		<div id="gtranslate"></div>
		
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'gtranslate');
}
</script>

<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


  </h3>
  </div>

  <div class="w3-container bod">
      <h2 class="nam">Maize</h2>
      <iframe width="620" height="355" src="https://www.youtube.com/embed/lMoL1Hfxk3Q?autoplay=1&mute=1"></iframe><br>

      <div id="lpep">
      <h3>Land Preperation</h3>
      <p>Equipment Options And Use</p>
        <ul>
			Maize requires a firm and compact seedbed free from stubbles and weed.<br>
			One deep ploughing should be given, followed by two or three harrowings to bring the soil to a fine tilth.<br>
			 Add 10-15 tons of FYM or compost before last harrowing and mix thoroughly with harrow.
        </ul>
      <p>Objectives</p>
        <ul>
          <li>Field selection<br>
			There are three key aspects of field selection:<br>

			Altitude: Maize is a sub-tropical plant and the altitude at which it is grown is critical to its ability to mature.

			Wherever the crop is grown above 140m there must be other factors to favour of growing at this height, such south-facing and free-draining soil.
		  </li>
          <li>Aspect: Aim for south-facing sites that are not too exposed.</li>
         <li>Soil type: Maize needs a dry soil in the spring, <br>but not a soil type that will dry out too much in late spring when the young plants are developing.<br>
			Very free-draining and light, sandy soils can be too extreme.</li>
        </ul>
      <p>Key Points</p>
        <ul>
          <h6>Seed-bed preparation</h6><br>
		  The aim is to achieve a deep, loose seed-bed.<br>
		  Maize is a free-rooting plant so there needs to be no restriction on root development in the early stages.<br>
		  Crops that struggle with compaction then struggle to mature and achieve optimum yield.<br>
		  Farms with heavy soils often need to winter plough to achieve the correct seed-bed in the spring.<br>
		  But if there is a wet March, water can hold under the furrows and can take a long time to dry out.<br>
		  <h6>Drilling and sowing</h6><br>
		  Maize seed should be drilled to a uniform depth and into moisture.<br>
		  Soil temperatures should by 8C first thing in the morning for four to five consecutive days for maize to grow.<br>
		  The last 10 days of April should see all maize drilled, but climate will obviously depend on location.<br>
		  There is an old adage that says for every day that the crop is sown into the month of May there will be a 1% loss in yield.<br>
		  With seed treatments likely to be banned next year (2020), farmers should drill deeper to avoid rook damage.<br>
		  Seed must be deeper than a rook’s beak and so should be sown into the seedbed at least 7-8cm. <br>
        </ul>
      </div>

      <div id="wmg">
        <h3>Water Management</h3>
        <p>Principles</p>
        <ul>
          Maize is quick, vigorous and tall growing crop having broad leaves ,<br>therefore its water requirement is exceptionally high.<br>
		  A vigorous growing maize plant requires about 2-3 litres of water per day during peak growing period or <br>
		  an average consumptive use of water varies from 2.5 to 4.3 mm/day.<br>
		  The crop cannot tolerate Excess water or waterlogging conditions.<br>
		  Crop under water logged conditions become pale, grow poorly and the uniformity of the crop is lost.<br>
		  Waterlogging in maize field for one-day damages the crop stand for three days it almost spoils the whole crop.<br>
		  So efficient drainage is of greater significance than Irrigation.<br>
		  <h6>Scheduling Of Irrigation</h6><br>
			Water requirement of Kharif maize is 400-550 mm while that of Rabi maize is 450-600 mm.<br>
			Even though maize roots can penetrate upto 120 cm., the density of roots is high only at 60 cm.<br>
			After every crop of maize, ploughing with diskplough and working sub soil after every three years,<br>
			raising of green manure crops like Sunhemp and their incorporation into soils make the soils loose and friable upto 120 cm.<br>
			Hence roots of subsequent maize crop penetrate to deeper layers and efficiently use water.<br>
			Presowing irrigation to Field capacity is very important as Maize seed will not germinate unless it absorbs moisture to double its weight.<br>
			First irrigation should be given upto 120 Cm, depth. Second irrigation after 10 to 15 days depending upon soil, temperature and wind velocity.<br>
			Schedule irrigations at more frequent intervals in dry weather and less frequent intervals in humid weather.<br>
			Scheduling of irrigations in maize depletion of 50 percent available soil moisture from field capacity is benefited.<br>
			<h6>Irrigation schedule for kharif maize</h6><br>
			The crop is grown rainfed during kharif season where the distribution of rainfall is enough to ensure adequate soil moisture during the life cycle of the crop.<br>
			For constructing high & stable yields, the available sources of irrigation should be tapped to provide 1 or 2 irrigation at the critical stages in any dry spell period.<br>
			Maize is known to be susceptible to water logging as well as soil moisture stress.<br>
			Sowings made on ridge is with the provision of surface drainage can overcome the constraints of waterlogging in uplands.<br>
			Maize is susceptible to moisture stress throughout its life cycle.<br>
			Since flowering and grain-filling stages are most critical, the crop should be irrigated at these stages, if rains fail.<br>
			<h6>Irrigation schedule for rabi maize</h6><br>
			The rainfall during Rabi is rather inadequate for successful cultivation of high-yielding maize hybrids.<br>
			Timely availability of assured irrigation is one of the major factors determining the success to crop.<br>
			Where soils are generally light, it is desirable to schedule the irrigations at 70% soil-moisture availability throughout the period of crop growth and development.<br>
			In heavy soils, a moisture level of 30% during the vegetative stage and 70% during the reproductive and grain-filling period is desirable for obtaining optimum yield.<br>
			Four to six irrigations are needed during the Rabi crop season. If six irrigations are given, they should be applied at the following crop growth stages<br>
			Two irrigations up to flowering at an interval of 20-25 days<br>
			One (essential) at the time of flowering<br>
			Two after flowering<br>
			One at the early grain-filling stage.<br>
			If only five irrigations are given, one irrigation at the vegetative stage may be avoided and if only four irrigations are given, irrigation after the dough stage may be avoided.<br>
			The irrigation schedule may, however be charged suitably if adequate rains are received.<br>
        </ul>
      </div>

      <div id="pmg">
          <h3>Weed Management</h3>
          <p>Why the weed menace is more in Maize</p>
          <ul>
            <li>The crop is heavily fertilized</li>
            <li>The crop is a wide spaced crop</li>
            <li>Slow initial growth</li>
          </ul>
          <p>Control Measures</p>
          <ul>
           <li> Control measures are mainly Cultural, Mechanical, Biological & Chemical</li>
            <li>Among the different methods the farmer is inclined more for chemical method of control
               as this method gives quick results .</li>
            <li>No single method is adequate to suppress pest population.</li>
            <li>Integrated pest management depending on the need, availability and feasibility of implementation should be adopted.</li>
			<li>Maize is most sensitive to weed competition during its early growth period.</li>
			<li>The growth of maize plants in the first week is rather slow and it is during this period that weeds establish rapidly and become competitive.</li>
			<li>Maximum weed competition in maize occurs during the period of 2 to 6 weeks after sowing.<br>
			This suggests the importance of maintaining the field weed free during this critical period of weed competition.</li>
			<li>The integrated weed control measures are to be followed for efficient weed control</li>
          </ul>
          <p>Weed Control Through Efficient Seed Bed Preparation</p>
          <ul>
            <li>Two to three ploughings by country or mould board plough or ploughing by disc or mould board plough<br>
			followed by 2 to 3 harrowings not only brings desired tilth but makes weed free seed bed preparation.</li>
            <li>Ridge and furrows layout further reduces weed intensity.</li>
          </ul>
		  <p>Weed Control Through Seed Treatment</p>
			<li>Soaking the maize seed for 24 hours in water and sowing after shade drying makes the seed to germinate early compared to weed seed and gives upperhand to maize crop over weeds.</li>
			<li>This practice besides providing optimum plant stand and reduces crop duration.</li>

		<p>Weed Control Through Improved Fertilizer Practices</p>
		<li>Chemical fertilizer application in bands 5 to 10 cm. from the seed instead of broadcasting, makes it available more to the crop and less to the weeds and hence more dominance of crop over weeds.</li>
		<li>Top dressing of fertilizer at knee high stage after inter culture 15-20 cm.<br>
		from crop rows, with holding irrigation for a week and covering the fertilizer by operation of ridger also reduces crop competition from weeds.</li>

		<p>Chemical Weed Control</p>
		<li>Incessant rains and dry spells prevent weed control on time by traditional methods.</li>
		<li>Non-availability of manual labour due to competition from other crops or high wages of manual labour also come in the way of timely weed control in maize.</li>
		<li>Weed control by mechanical means is possible only when crop grows upto certain stage and crop has to compete with weeds till such period. Chemical weedicides are boon in such a situation.</li>
<li>Atrazine or Simazine @ 1.5 to 2 kg / ha dissolved in 500-600 litres of water, sprayed uniformly on the soil 2-3 days after sowing and<br> followed by irrigation control most of the weeds efficiently.</li>
<li> Moisture in the soil is essential for efficient weed control.</li>
<li>In case of intercropping with legumes Pendimethalin should be used instead of Atrataf in the same proportions.</li>

<p>Weed Control By Mechanical And Manual Means</p>

<li>When maize crop attains Knee high stage (30 days after sowing),<br> weeds can be controlled by working cultivator or blade harrow in between the rows of the crop.</li>
<li>Withholding irrigation for a week after the operation controls most of the weeds.<br> Manual Weeding, only within the crop rows (between the plants) makes weed control efficient and economical.</li>

<p>Weed Control By Intercropping</p>

<li>Slow initial growth nature of crop and wide inter row spacing creates congenial conditions for growth of weeds.</li>
<li>Inter cropping of compatible and non-competitive crops like pulses, <br>
oil seeds and rooted vegetables not only prevent growth of weeds but also results in profitable utilization of natural and applied resources resulting in higher returns.</li>
<p>Weed Control By Crop Rotation</p>

<li>Maize followed by redgram, groundnut and safflower in rotation not only control weeds but improves productivity of maize.</li>
<li>Maize preceded by green manure crops like Dhaincha and Sunhemp not only exterminate weeds due to rank vegetative growth but also
 improves the fertility of soil.</li>
      </div>


  </div>

</div>
</body>
</html>