{% load static %}

<!DOCTYPE html>
<html>
<title>FARM IN ARMS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/sty.css' %}">
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block" style="width:20%; margin-top: 0.5cm;">
  
  <img src="{% static 'images/logo.png' %}" alt="">
  <h3 class="w3-bar-item w3-teal">Management</h3>
  <a href="#lpep" class="w3-bar-item w3-button">Land preparation</a>
  <a href="#wmg" class="w3-bar-item w3-button">  Water Management</a>
  <a href="#pmg" class="w3-bar-item w3-button">Pest Management</a>
</div>

<!-- Page Content -->
<div style="margin-left:20%">

  <div class="w3-container w3-white nbar">
  <h3>
  
  	<a href="/pages/">Home</a>
  	<a href="/pages/about/">About</a>
  	<a href="/pages/schemes/">Programmes&Schemes</a>
    <a href="/pages/#services">Services</a>

    <p id='tex'>Translate to:</p>
		<div id="gtranslate"></div>
		
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'gtranslate');
}
</script>

<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


  </h3>
  </div>

  <div class="w3-container bod">
      <h2 class="nam">Soya Bean</h2>


      <iframe width="620" height="355" src="https://www.youtube.com/embed/jjBBFMhraCQ"></iframe><br>

      <div id="lpep">
        <h3>Land Preperation</h3>
        <p>Equipment Options And Use</p>
          <ul>
        Primary tillage options – Ploughs (Mould board, Disc, Tine, Offset)<br>
        Secondary tillage options – Disc Harrow, Offset Disc, Rotavator, Puddler,Landplane.
          </ul>
        </div>
        <p>Objectives</p>
        <ul>
          To obtain required tilth of 10-15 cm. depth.<br>
          To open soil for drying<br>
          To uproot stubbles and weeds<br>
          To burry trash under soil<br>
          To kill weeds<br>
        </ul>
        <p>Key Points</p>
        <ul>
          <li>Power requirements are of the order of 14-26 k W/m at 7.2 km/hr</li>
          <li>Stabilizer chains should be relatively loose (but not so loose that implement hits tires)</li>
<li>Plough should be level in two planes (front to back, side to side)</li>
          <li>If the tractor is "Pulling" to one side, then the plough is not properly adjusted.
            Depth of cut should be uniform – results if plough is level.</li>
            <li>Field should be as level as possible after ploughing (no ridges)  </li>
        </ul>

      <div id="wmg">
        <h3>Water Management</h3>
        <p>Principles</p>
        <ul>
          Excess / limited / no water leads to reduction in yield.<br>
          Every crop plant tries to survive under extreme drought conditions but never survives for atleast 1 
          – 2 days under excess moisture situations.<br>
          Rice a semi – aquatic plant requires near submergence<br>
          Submergence helps in - suppressing weed growth more availability of certain nutrients<br>
          Daily consumptive use of rice is 6 – 10mm<br>
          Total water requirement of rice is 1240mm<br>
          5000 litres of water required to produced 1kg of rice<br>
          Rice accounted for 33% of gross irrigated area<br>
          Rice consuming 66% of total available irrigation water.

        </ul>
      </div>

      <div id="pmg">
          <h3>Pest Management</h3>
          <p>Losses caused due to pests </p>
          <ul>
            <li>Rice is essentially a crop of warm, humid environments conducive to the survival
             and Proliferation of insects.</li>
            <li>More than 70 species were recorded as pests  and about 20 have major significance.</li>
            <li>Together, they infest all parts of the plant at all growth stages .</li>
            <li> The insects act as vectors of virus diseases, and are a major factor responsible for low rice yields particularly
             in Tropical Asia, the worlds rice bowl.</li>
             <li>The insect problem is accentuated in multi cropping Or dormancy but occurs throughout the year in over lapping generations.</li>
            <li>The yield losses vary from 20 to 50 per cent due to the damage caused by various insect Pests.</li>
          </ul>
          <p>Control Measures</p>
          <ul>
           <li> Control measures are mainly Cultural, Mechanical, Biological & Chemical</li>
            <li>Among the different methods the farmer is inclined more for chemical method of control
               as this method gives quick results .</li>
            <li>No single method is adequate to suppress pest population.</li>
            <li>Integrated pest management depending on the need, availability and feasibility of implementation should be adopted.</li>
          </ul>
          <p>Advantages of Chemical Control</p>
          <ul>
            <li>Insecticides or fungicides can be maintained and stored in advance so that they may be applied very
               soon after an out break occur or is expected to occur.</li>
            <li>It usually involves less labour than mechanical methods.</li>
            <li>Infestation over large areas can be treated and in less time than by other methods.</li>
            <li>It is comparatively cheap and within the reach of many farmers.</li>
          </ul>
          <p>Disadvantages of Chemical Control</p>
          <ul>
            <li>The insecticides are more indiscriminate in killing insects.
              Thus, not only harmful insects are killed, but some of the beneficial insects as well.</li>
            <li>This leads to ecological imbalance leading to secondary infestation of certain pests.</li>
            <li>The most Practical alternative is the integrated approach which Compromises, survey and
               surveillance to monitor the pests, exploitation of host resistance, Cultural
                practices such as judicious use of fertilizers, crop rotation, sanitation, and correct time
                 of planting, biological control, using parasites and predators etc., and use of pesticides on Need basis.
            </li>

          </ul>
      </div>


  </div>

</div>
</body>
</html>
