{% load static %}

<!DOCTYPE html>
<html>
<title>FARM IN ARMS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/sty.css' %}">
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block" style="width:20%; margin-top: 0.5cm;">
  
  <img src="{% static 'images/logo.png' %}" alt="">
  <h3 class="w3-bar-item w3-teal">Management</h3>
  <a href="#lpep" class="w3-bar-item w3-button">Land preparation</a>
  <a href="#wmg" class="w3-bar-item w3-button">  Water Management</a>
  <a href="#pmg" class="w3-bar-item w3-button">Weed Management</a>
</div>

<!-- Page Content -->
<div style="margin-left:20%">

  <div class="w3-container w3-white nbar">
  <h3>
  
  	<a href="/pages/">Home</a>
  	<a href="/pages/about/">About</a>
  	<a href="/pages/schemes/">Programmes&Schemes</a>
    <a href="/pages/#services">Services</a>

    <p id='tex'>Translate to:</p>
		<div id="gtranslate"></div>
		
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'gtranslate');
}
</script>

<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


  </h3>
  </div>

  <div class="w3-container bod">
      <h2 class="nam">Sugar cane</h2>
      <iframe width="620" height="355" src="https://www.youtube.com/embed/fNzq5YasHX8?mute=1"></iframe><br>

      <div id="lpep">
      <h3>Land Preperation</h3>
      <p>Soil type and climate</p>
        <ul>
		Sugarcane requires good seed bed.<br> A good soil on land preparation approach should involve the following essential steps.
        </ul>
      <p>Objectives</p>
        <ul>
          <li>Land preparation for sugarcane starts with clearing the preceding crop residues.</li>
          <li>In most areas these residues are incorporated through tillage or collected,<br>
		  heaped and burnt in situ and the ash is spread in the field.</li>
         <li> Leveling</li>
          <li>Incorporation of organic manures</li>
         <li>Field layout as per planting methods</li>
        </ul>
      <p>KeyPoints</p>
        <ul>
          Sugarcane can be grown an all types of soils ranging from sandy loam to clay loam.<br>
It, however, thrives best on well drained soils.<br>
It can also be raised successfully on lighter soils provided there is adequate irrigation facilities and on heavy clays<br>
 with proper drainage and addition of organic matter.<br>
Saline, alkaline and acidic soils are not at all suitable for sugarcane.<br>
        </ul>
      </div>

      <div id="wmg">
        <h3>Water Management</h3>
        <p>Principles</p>
        <ul>
          <p>Important causes for moisture stress are:</p>

<li>Limited availability of irrigation water in lift irrigated areas.</li>
<li>Canal closure during summer in many of the canal irrigated tracts.</li>
<li>Droughts which occur in a cyclic manner.</li>
		<li>The extent of damage to sugarcane yield and quality depends upon the crop stage and duration of stress.</li>
<li>In most of the areas, the crop experiences moisture stress during the formative phase of growth,<br>
 affecting germination and tillering, thus leading to reduced stalk population and reduced initial stalk growth.</li>
<li>In the early planted cane, moisture stress coincides with the ground growth phase of the crop, thus affecting stalk elongation and stalk growth.</li>
<li>In the case of late planted crops, moisture stress affects the formative phase as well as maturity and ripening phases.</li>
<li>Thus initial crop stand gets affected and also there could be disruption in the sugar synthesis and<br>
 accumulation under severe stress during the ripening phase.</li>
 <p>Protective irrigation:</p>

<li>Irrigating the crop in alternate furrows reduce the water application by 50 per cent.</li>
<li>Skipped irrigation combined with mulching alternate furrows and irrigation only non-mulched alternate furrows.</li>
<p>Integrated moisture stress management practices:</p><br>

1.  Choosing appropriate variety<br>

2.  Soaking the setts in saturated lime water<br>

3.  Choosing appropriate planting method<br>

4.  Close row spacing while planting<br>

5.  Basal manure application<br>

6.  Pre-stress manuring and irrigation<br>

7.  Trash mulching<br>

8.  Protective irrigation if available<br>

9.  Appropriate post-stress crop management<br>

10.  Urea and potassium spray.<br>
<p>Irrigation</p>
1. Number of irrigations required varies widely with varying rainfall patterns.<br>
2. Only two irrigations are required in the extreme northern districts while 22 to 25 are required in the southern districts<br>
3. Further it was also observed that 20 irrigations at an interval of 12 days are required during the rainless period.<br>
4. When the average rainfall is 1000 mm ,the optimum soil moisture regime 25 to 100 percent .<br>
5. The moisture levels during maturity period, caused no different in yields or quality.<br>
6. Light and frequent irrigations gave higher yield per unit of water than heavy irrigations at longer intervals.<br>
7. About 110 mm rainfall, 680 mm of water applied at 40mm each time, was adequate to obtain good yields<br>
For restricted irrigation facilities, a most sensitive period for water requirement in sugarcane was third order of Tillering.<br>
8. When water for only one irrigation is available, it should be given at third order of tillering.<br>
9.  With the availability of two irrigations, second and third orders of tillering were the most responsive stages.<br>
10. Irrigations given at 80% sheath moisture produces the highest yield.<br>

<p>Micro-irrigation system - Drip irrigation</p>

<li>Higher water saving in sub-surface drip may be due to higher application efficiency and less evaporation.</li><br>
<li>Surface as well as subsurface drips with daily irrigation techniques and paired (double row)<br>
 planting of sugarcane are more effective in saving water to the tune of 50-60%.</li>
<li>Surface drip system with pressure compensating drippers also appears more advantageous .</li>
<li>The pipes are usually buried about 15 to 20 cm deep to prevent rodent attack.</li>
<li>The integrated drippers are highly resistant to mechanical damage, and <br>
the special positioning prevents sediments from settling in the dripper when the system is not in use.</li>
<li>The system facilities use of fertilisers and selective plant protection chemicals along with the irrigation water.</li>
<li>Another advantage offered by this system over conventional drip is that the lateral lines can travel longer<br>
 distances with only a minor variation in the quantity of water discharged in the first and the last drippers.</li>
<li>Once laid, the laterals serve well for one planted crop and two or three ratoons for three to four years.</li>
        </ul>
      </div>

      <div id="pmg">
          <h3>Weed Management</h3>
          <p>Losses caused due to weeds in Sugarcane</p>
          <ul>
            <li>Unchecked weed growth in sugarcane has caused yield losses to the extent of 15-70 percent depending upon the nature,<br>
			density and time of weed infestation.</li>
            <li>Even if the yield reduction due to weeds say 10 percent the loss in cane and<br>
			sugar yield in the country per annum may be around 25 million and 2.5 million tons respectively</li>
            <li>Weeds reduce the yield of sugarcane by intoxicating the soil with <br>
			their harmful root secretions and by spreading by their root system in soil earlier than sugarcane crop.</li>
            <li> Nature of weed problem in sugarcane is different from other crops due to <br>
			1) adoption of wider spacing (60-130cm)<br>
			2) Slow growth rate in the initial crop growth 35-45 days for complete germination and another 60 days for full canopy development,<br>
			3) intensively irrigated crop, hence no dearth for moisture,<br>
			4) highly fertilized crop,<br>
			5) less preparation of land if it is a ratoon crop.<br></li>
          </ul>
		  <p>common weeds</p>
		  <ul>
			Sedges
			Cyperus rotundus
			Grasses
			Cynodon dactylon
			Sorghum helepense
			panicum spp.
			Dactyloctenum aegyptium
		  </ul>
          <p>Control Measures</p>
          <ul>
           <p>Mechanical methods</p>

<li>Removal of weeds on bunds, nearby waste lands to arrest the spread of the same.</li>
<li>Removal of weeds by hand pulling, hoeing, ploughing, harrowing, discing etc.</li>
<li>Blind hoeing, interculture and earthing - up are the main operation performed before germination,<br>
 during tillering and at maximum tillering stages respectively.</li>
<li>The main objective of hoeing and interculture is to control weeds, to minimise evaporation and to increase aeration in root zone.</li>
<li>Destruction of underground parts by ridging, deep ploughing and puddling etc.</li>

<p>Cultural methods</p>

<li>Adopting crop rotation (Rice followed by sugarcane)</li>
<li>Growing intercrops competing effectively with weeds (short duration quick growing and smothered crops like pulses)</li>
<li>Mulching (using sugarcane trash)</li>
<li>Clean cultivation</li>
<li>Trap cropping</li>

<p>Chemical methods</p>

<li>Pre-emergence and post-emergence application of 2,4 - D at 1.0 to 1.5 Kg/ha - to control dicots and broad leaved weeds</li>
<li>Pre-emergence application of simazine at 2 kg/Ha - to control both monocot and idcot weeds.</li>
<li>Dalapon @ 0.5 kg/ha followed by grammaxone @ 2.5 litre / ha would control grassy weeds.</li>
<li>Pre-emergence application simazine and 2,4 - Damine @ 2.0 Kg / ha each to control monocots and dicots.</li>
<li>Tank mixture of dalapon @ 5 kg/ha + 2,4 - D @ 1 kg/ha would control grassy weeds including cyperus.</li>
<li>One weeding and one post emergence application of isoproturcon at 0.95 kg a.i/ha gave increased care yields.</li>
<p>Integrated weed management</p>
<li>Deep ploughing to remove perennial weeds, to bury weed seeds deep.</li>
<li>Repeated tillage operations before planting to reduce weed growth before planting.</li>
<li>cleaning of irrigation channels, using clean sugarcane setts, checking seeding of weeds,<br>
 and using of well decomposed FYM or compost to prevent weed spread.</li>

<li>Pre-emergence herbicide application to check weed growth during the critical crop stage.</li>
<li>Post-emergence herbicide application to check persisiting broad leaved weeds.</li>
<li>Interculture coupled with hand weeding to remove left over weeds.</li>
<li>Intercropping and mulching to smother weeds in between cane rows.</li>
<li>Crop rotation to suppress dominant weed flora.</li>
<li>fallowing the land to expose, activate hidden weed seeds and then destray them.</li>

          </ul>
      </div>


  </div>

</div>
</body>
</html>